body {
    background-color: rgb(28, 29, 29);
    color: rgb(194, 202, 202);
    width: 70%;
    margin: auto;
  }
  h1 {
    font-size: 4rem;
  }

  .hover {
    width: 10rem;
    transform: scale(90%);
    transition: all 200ms;
    filter: brightness(60%);
  }
  .hover:hover {
    transform: scale(100%);
    filter: brightness(90%);
  }

  #imagem {
    cursor: pointer;
    border-radius: 1rem;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: rgb(194, 202, 202);
  }

  a:hover {
    color: blueviolet;
    font-size: 1.2rem;
    transition: all 200ms;
  }

  h2 {
    font-family: sans-serif;
  }

  ul {
    list-style-type: none;
  }